CT_CONFIG_VERSION="4"
CT_DOWNLOAD_WGET_OPTIONS="--passive-ftp --tries=3 -nc --progress=dot:binary"
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a53"
CT_ARCH_64=y
CT_TARGET_VENDOR="rpi3"
CT_KERNEL_LINUX=y
CT_LINUX_V_6_1=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_36=y
CT_GCC_V_12=y
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-multiarch"
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_GDB_V_13=y
CT_GETTEXT_V_0_21=y
CT_GMP_V_6_2=y
CT_ZLIB_V_1_2_13=y
CT_ZSTD_V_1_5_5=y
CT_COMP_TOOLS_AUTOCONF=y
CT_COMP_TOOLS_AUTOMAKE=y
